In [1]:
import pandas as pd

In [2]:
dados_path ='https://raw.githubusercontent.com/carlosfab/escola-data-science/master/datasets/electricity_consumption/Electric_Production.csv'

dados = pd.read_csv(dados_path)

In [3]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    397 non-null    object
 1   Value   397 non-null    float64
dtypes: float64(1), object(1)
memory usage: 6.3+ KB

In [8]:
# Lista de índices das colunas que serão convertidas para datetime
dados = pd.read_csv(dados_path, parse_dates=[0])
dados

          DATE     Value
0   1985-01-01   72.5052
1   1985-02-01   70.6720
2   1985-03-01   62.4502
3   1985-04-01   57.4714
4   1985-05-01   55.3151
..         ...       ...
392 2017-09-01   98.6154
393 2017-10-01   93.6137
394 2017-11-01   97.3359
395 2017-12-01  114.7212
396 2018-01-01  129.4048

[397 rows x 2 columns]

In [9]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    397 non-null    datetime64[ns]
 1   Value   397 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 6.3 KB

In [10]:
# Lista de índices das colunas que serão convertidas para datetime
dados = pd.read_csv(dados_path, parse_dates=[0], index_col='DATE')
dados

               Value
DATE
1985-01-01   72.5052
1985-02-01   70.6720
1985-03-01   62.4502
1985-04-01   57.4714
1985-05-01   55.3151
...              ...
2017-09-01   98.6154
2017-10-01   93.6137
2017-11-01   97.3359
2017-12-01  114.7212
2018-01-01  129.4048

[397 rows x 1 columns]